main {
    margin-left: 1em;
    margin-right: 1em;
}

nav {
    background-color: rgb(6, 101, 103);
    width: 17em;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    font-size: 10pt;
}

nav ul li {
    border-style: double;
    border-spacing: inherit;
    border-width: 2px;
    border-color: lightgray;
    text-align: center;
    margin-right: 4em;
    cursor: pointer;
}
nav ul li:hover {
    background-color: white;
}

.dropbutton {
    background-color: rgb(6, 101, 103);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 50px;;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.logo {
    width: 150px;
    height: 150px;
}

.headImage {
    max-height: 80em;
    image-orientation: from-image;
}

.footer {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
}

.head {
    padding-top: 1em;
    text-align: left;
    font: 400 100px/1.2 'Leckerli One', Helvetica, sans-serif;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
    font-style: bold;
    font-size: 5em;
    color:  rgb(6, 101, 103);
}

.story {
    font-size: 14pt;
    text-align: center;
    font-style: bold;
    font-family: times new roman;
}

h3 {
    text-align: center;
}

.pageTitle {
    text-align: center;
    font-family: helvetica;
    font-size: 24pt;
    font-style: bold;
}

form {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding: 2em;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
    width: 50em;
    text-align: center;
    padding-right: 10em;
    margin-left: 29em;
}

#submit {
    grid-column: 2/3;
}

label {
    grid-column: 1/2;
    text-align: right;
}

input {
    grid-column: 2/3;
}

.card img {
    width: 300px;
    height: 400px;
}

.item-content {
    display: none;
}

#item-12 {
    display: block;
}

.product {
    padding: 3em;
}

.p_head {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
    font-style: bold;
    font-size: 40pt;
}

.p_content {
    margin-top: 12em;;
    margin-left: 4em;
}

.description {
    width: 14em;
}